<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <display-name>HelloWorld</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HWorld</display-name>
    <servlet-name>HWorld</servlet-name>
    <servlet-class>ex.HWorld</servlet-class>
  </servlet>
  <context-param>
    <param-name>dbId</param-name>
    <param-value>abcde</param-value>
  </context-param>
  <context-param>
    <param-name>dbPwd</param-name>
    <param-value>123456</param-value>
  </context-param>
  <context-param>
    <param-name>dbSid</param-name>
    <param-value>orcl</param-value>
  </context-param>
  <listener>
    <listener-class>ex.ContextListeneEx</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>LifeCycleEx</display-name>
    <servlet-name>LifeCycleEx</servlet-name>
    <servlet-class>ex.LifeCycleEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleEx</servlet-name>
    <url-pattern>/LifeCycleEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoamEx</display-name>
    <servlet-name>FoamEx</servlet-name>
    <servlet-class>ex.FoamEx</servlet-class>
    <init-param>
      <param-name>dbName</param-name>
      <param-value>oracle</param-value>
    </init-param>
    <init-param>
      <param-name>dbPasswd</param-name>
      <param-value>123456</param-value>
    </init-param>
    <init-param>
      <param-name>path</param-name>
      <param-value>c:\\jsplec\\worjspace</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoamEx</servlet-name>
    <url-pattern>/FoamEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitParamEx</display-name>
    <servlet-name>InitParamEx</servlet-name>
    <servlet-class>ex.InitParamEx</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>JoinOk</display-name>
    <servlet-name>JoinOk</servlet-name>
    <servlet-class>join.JoinOk</servlet-class>
  </servlet>
  <!-- 
  <servlet-mapping>
    <servlet-name>JoinOk</servlet-name>
    <url-pattern>/JoinOk</url-pattern>
  </servlet-mapping>
   -->
  <servlet>
    <description></description>
    <display-name>LoginOk</display-name>
    <servlet-name>LoginOk</servlet-name>
    <servlet-class>join.LoginOk</servlet-class>
  </servlet>
  <!-- 
  <servlet-mapping>
    <servlet-name>LoginOk</servlet-name>
    <url-pattern>/LoginOk</url-pattern>
  </servlet-mapping>
   -->
  <servlet>
    <description></description>
    <display-name>ModifyOk</display-name>
    <servlet-name>ModifyOk</servlet-name>
    <servlet-class>join.ModifyOk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyOk</servlet-name>
    <url-pattern>/ModifyOk</url-pattern>
  </servlet-mapping>
</web-app>